.gerua {
    width: 900px;
    height: 600px;
    background-color: rgb(255, 153, 51);
    margin-left: 280px;

}

.white {
    width: 100%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 200px;

}

.green {
    width: 100%;
    height: 200px;
    background-color: rgb(19, 136, 108);
    position: relative;
    top: -5px;

}



img {

    height: 200px;
    width: 200px;
    position: relative;
    left: 350px;
}

#h11 {

    display: inline;
    margin-left: 570px;
    position: relative;
    top: 15px;
    color: rgb(255, 153, 51);

}

#h12 {
    position: relative;
    top: 15px;
    display: inline;
    color: rgb(0, 0, 128);

}

#h13 {
    position: relative;
    top: 15px;
    display: inline;
    color: rgb(19, 136, 108);
    ;

}

#h14 {
    text-align: center;

}